@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }
.try {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    font-size: 40px;
    color: #0ccac4;
};