.bg-light-green {
    background-color: rgb(189, 241, 189);
}
.dib {
    display: inline-block;
    margin: 0 2%;
}
.br3 {
    border-radius: .5rem;
}
.pa3 {
    padding: 1rem;
}
.ma2 {
    margin: .5rem;
}
.grow:hover {
    transform: scale(1.05);
    transition: .3s;
}
.grow:not(:hover){
    transform: scale(1.0);
    transition: .3s;
}
.bw2 {
    border-width: .25rem;
}
.shadow-5 {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}
.pa2 {
    padding: .5rem;
}
.pa3 {
    padding: 1rem;
}
.ba {
    border-style: solid;
}
.b--green {
    border-color: green;
}
.bg-lightest-blue {
    background-color: rgba(163, 213, 247, 0.918);
}
.tc {
    text-align: center;
}
.f1 {
    font-size: 3rem;
}
.f2 {
    font-size: 1.3rem;
}
.f3 {
    font-size: 1rem;
}
img {
    width: 60%;
    height: auto;
}
.wi {
    width: 18rem;
    text-align: center;
    font-size: 1.2rem;
}
.wid {
    width: 16rem
}